<html>
<head>
	<title>Email Templete</title>
</head>

<style>
    *{
        box-sizing: border-box;
    }

    body{
        font-family: sans-serif;
    }

    #email_temp p{
        font-size: 15px;
    }

    #email_temp h2{
        font-size: 18px;
        font-weight: bold;
    }

    #email_temp button{
        padding: 10px 15px;
        font-size: 14px;
        font-weight: bold;
        background-color: #29947f;
        color: #fff;
        border: 0;
        border-radius: 5px;
    }

    #email_temp a{
        color: #29947f;
        text-decoration: none;
    }
    
</style>

<body>
	<div id="email_temp">
        <p>Hi Senthilkumar,</p>
        <h2>Welcome to Creately!</h2>
        <p>You are one step away from completing your Creately account.</p> 
        <p>Click below to confirm your email.</p>
        <button>Confirm your Email</button>
        <p>If you did not create an account, please contact <a href="">Creately Support</a> </p>
        <p>The Creately Team.</p>
    </div>
</body>
</html>